div {
    position: absolute;
    top: 3.1em;
    width: 15em;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 2;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

input {
    width: calc(100% - 1em);
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    border: 1px solid rgba(52, 106, 220, 0.87);
    border-radius: 0.5em;
    color: rgba(52, 106, 220, 0.87);
    font-weight: bold;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.1ms ease-out;
}

input:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}

a {
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0.7em;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.56);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-out;
}

a:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

a:after {
    content: '➤';
    float: right;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(52, 106, 220, 0.3);
}

a.active {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.7);
    color: rgba(52, 106, 220, 0.87);
    background: white;
    font-weight: bold;
    padding-right: 0.2em;
    margin-right: -0.5em;
}

a .listTitle {
    display: inline;
    font-weight: normal;
}

a .listSubtitle {
    display: inline;
    font-size: 1.2em;
    margin-right: 0.6em;
}
