.usage_panel {
    width: calc(50% - 1em);
    float: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    min-height: 15em;
}

@media (max-width: 1082px) {
    .usage_panel {
        width: 97%;
        box-sizing: border-box;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

@media (max-width: 580px) {
    .usage_panel {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0em;
        margin-right: 0em;
        min-height: 0;
        box-shadow: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.27);
        border-radius: 0;
    }
}
