<div class="panel usage_panel">
    <h2>CPU stats</h2>
    <rest-chart apiUrl="/stats/cpu" [datasets]="['usr', 'sys', 'steal', 'irq', 'iowait', 'total']" mode="percentage"></rest-chart>
</div>
<div class="panel usage_panel">
    <h2>Memory stats</h2>
    <rest-chart apiUrl="/stats/mem" [datasets]="['memFree', 'memBuffer', 'swapFree']" [divisor]="ram_chart_unit"></rest-chart>

    Unit:
    <input type="radio" name="ram_chart_unit" (click)="ram_chart_unit = 1024"       id="ram_chart_unit_k"        ><label for="ram_chart_unit_k">KiB</label>
    <input type="radio" name="ram_chart_unit" (click)="ram_chart_unit = 1048576"    id="ram_chart_unit_m"        ><label for="ram_chart_unit_m">MiB</label>
    <input type="radio" name="ram_chart_unit" (click)="ram_chart_unit = 1073741824" id="ram_chart_unit_g" checked><label for="ram_chart_unit_g">GiB</label>
</div>
<div class="panel usage_panel">
    <h2>I/O stats</h2>
</div>
<div class="panel usage_panel">
    <h2>Network stats</h2>
    <rest-chart apiUrl="/stats/nic?filter=physical" [divisor]="net_chart_unit" mode="difference"></rest-chart>

    Unit:
    <input type="radio" name="net_chart_unit" (click)="net_chart_unit = 1024"       id="net_chart_unit_k"           ><label for="net_chart_unit_k">KiB</label>
    <input type="radio" name="net_chart_unit" (click)="net_chart_unit = 128"        id="net_chart_unit_kbit"        ><label for="net_chart_unit_kbit">Kb</label>
    <input type="radio" name="net_chart_unit" (click)="net_chart_unit = 1048576"    id="net_chart_unit_m"           ><label for="net_chart_unit_m">MiB</label>
    <input type="radio" name="net_chart_unit" (click)="net_chart_unit = 131072"     id="net_chart_unit_mbit" checked><label for="net_chart_unit_mbit">Mb</label>
    <input type="radio" name="net_chart_unit" (click)="net_chart_unit = 1073741824" id="net_chart_unit_g"           ><label for="net_chart_unit_g">GiB</label>
    <input type="radio" name="net_chart_unit" (click)="net_chart_unit = 134217728"  id="net_chart_unit_gbit"        ><label for="net_chart_unit_gbit">Gb</label>
</div>
